@charset "UTF-8";
.headerlogo {
    margin-left: 2px;
    margin-bottom: -44px;
}
.cuentas {
    color: #201E1F;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: right;
    margin-right: 19px;
    font-size: small;
}
.menuheader {
    height: 40px;
    background-color: #FF4000;
    margin-bottom: -51px;
    width: 1450px;
}
.menufooter {
    width: 1450px;
    height: 73px;
    background-color: #FF4000;
    margin-bottom: -51px;
    margin-top: -26px;
}
.menuprivacidad {
    width: 1450px;
    height: 73px;
    background-color: #50B2C0;
    margin-bottom: -51px;
    margin-top: -26px;
}
.inicio {
    color: #201E1F;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: x-large;
    float: left;
    padding-right: 0px;
    display: inline-block;
    padding-left: 146px;
    margin-left: -37px;
}
.bienvenida {
    background-color: #FAAA8D;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
    width: 1450px;
    height: 40px;
    margin-top: 58px;
    padding-top: 15px;
}
.menulateral {
    background-color: #201E1F;
    float: left;
    width: 366px;
    height: 498px;
    color: #F6F6F6;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    padding-top: 42px;
}
.contenidoimagen {
    padding-right: 10px;
    padding-left: 49px;
}
.imagenfooter {
    padding-top: 55px;
    padding-left: 0px;
    margin-left: -917px;
}
.textofooter {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: large;
    padding-top: 125px;
    text-align: center;
    margin-right: 56px;
    margin-left: 25px;
}
.textocontenido {
    color: #FEFEFE;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: x-large;
    text-align: left;
    padding-right: 13px;
}
